body{
    width: 960px;
}

a {
    text-decoration: none;
}

.main{
    text-align: center;
}

.header {
    width: 960px;
    padding: 0 4%;
}

.mainimage{
    height: 600px;
    width: 100%;
}

h2 {
    text-decoration: underline;
    text-align: center;
    margin: 0 ;
    font-size:25px;
}


.myimage {
    border-radius: 50%; /* 要素を丸く切り取る */
    /* オプション: 横幅と高さが同じ場合、丸が完全な円になります */
    width: 90px;
    height: 90px;

}
